@import "tailwindcss";

@theme {
  --color-olive-leaf: #606C38;
  --color-olive-forest: #283618;
  --color-olive-cornsilk: #FEFAE0;
  --color-olive-caramel: #DDA15E;
  --color-olive-copper: #BC6C25;
}

/* for drop animation */
@keyframes drop {
  0% { transform: translateY(-300px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
.animate-drop {
  animation: drop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}