@import "tailwindcss";

@theme {
  --color-olive-leaf: #606C38;
  --color-olive-forest: #283618;
  --color-olive-cornsilk: #FEFAE0;
  --color-olive-caramel: #DDA15E;
  --color-olive-copper: #BC6C25;
}